.draggable {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.draggable-null {
  -webkit-app-region: no-drag;
}

/* scrollbar stuffs */
/* Width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #263238;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a6978;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #839496;
}

@media (min-width: 576px) {
  .col-notSm-400 {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    max-width: 400px;
  }
}